@charset "utf-8";

/*font-family: 'Lato', sans-serif;
font-family: 'Raleway', sans-serif;*/

body {
  background-color: #0D160B;
  margin: 0px;
  padding: 0px;
}

h1 {
  background-color: #4D4847;
  color: #CCCCCC;
  font-family: serif, sans-serif;
  margin-top: 0px;
  padding: 0.3em;
}

p {
  background-color: #4D4847;
  color: #CCCCCC;
}
